#profileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.imageContainer {
  position: relative;
  top: 70px;
  left: 45%;
  z-index: 1;
}

.nameContainer {
  position: relative;
  left: 42%;
  top: 90px;
  z-index: 1;
}

.subHeading {
  color: rgb(194, 194, 194);
  margin-left: 9px;
}

.subHeadingLight {
  color: rgb(65, 65, 65);
  margin-left: 9px;
}

.socialContainer {
  position: relative;
  left: 45%;
  top: 120px;
  z-index: 1;
}

.name {
  color: rgb(251, 251, 251);
}
.nameLight {
  color: rgb(41, 41, 41);
}

.nameDescription {
  color: rgb(194, 194, 194);
}
.nameDescriptionLight {
  color: rgb(65, 65, 65);
}

.typedText {
  color: rgb(251, 251, 251);
}
.typedTextLight {
  color: rgb(41, 41, 41);
}

.social {
  color: rgb(194, 194, 194);
  margin: 10px;
  z-index: 2;
}
.socialLight {
  color: rgb(54, 54, 54);
  margin: 10px;
  z-index: 2;
}

.socialContainer :hover {
  color: rgb(251, 251, 251);
  cursor: default;
  transform: rotate(360deg);
  transition: all 0.5s ease-in-out 0s;
}
