.nameContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.name {
  color: tomato;
}

.nameDescription {
  color: rgb(194, 194, 194);
}

.subHeading {
  color: rgb(194, 194, 194);
  margin-top: 100px;
  margin-right: 20px;
}
.typedText {
  color: tomato;
}
