#profileImage {
  height: 150px;
  width: 150px;
  border-radius: 50%;
}

.imageContainer {
  position: absolute;
  left: 44%;
  top: 24%;
  z-index: 1;
}

.nameContainer {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
}

.name {
  color: rgb(251, 251, 251);
}

.nameDescription {
  color: rgb(194, 194, 194);
}

.subHeading {
  color: rgb(194, 194, 194);
  margin-top: 100px;
  margin-right: 20px;
}
.typedText {
  color: rgb(251, 251, 251);
}

.socialContainer {
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
  margin-top: 50px;
}
.social {
  color: rgb(194, 194, 194);

  margin: 10px;
}
