.headerTitles {
  position: relative;
  display: flex;
  justify-content: flex-end;
  font-size: large;
  z-index: 3;
}

.headerItems {
  margin: 5px;
}

.switch,
.switchLight {
  z-index: 5;
  margin-top: 10px;
  margin-right: 20px;
}

.switch {
  color: white;
}
.switchLight {
  color: rgb(54, 54, 54);
}
